.login-container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    width: 100vw;   
    height: 100vh;  
    background-color: #1a1a1a; 
    color: #f0f0f0; 
}

.login-form {
    background-color: #2c2c2c; 
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4); 
    width: 100%;
    max-width: 380px; 
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

.login-form h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #64ffda;
    font-size: 1.8em;
    font-weight: 600;
}

.login-form input {
    padding: 14px 12px;
    border-radius: 8px;
    border: 1px solid #444; 
    background-color: #383838; 
    color: #f0f0f0; 
    font-size: 1em;
    transition: border-color 0.3s ease;
}

.login-form input:focus {
    border-color: #64ffda; 
    outline: none; 
}


.login-form input::placeholder {
    color: #aaa;
}


.login-form button[type="submit"] {
    padding: 14px;
    margin-top: 10px;
    background-color: #64ffda; 
    color: #1a1a1a; 
    font-weight: 700;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-form button[type="submit"]:hover {
    background-color: #49e4c1; 
    transform: translateY(-1px); 
}

.login-form p a {
    color: #64ffda;
    text-decoration: none;
}

.login-form p a:hover {
    text-decoration: underline;
}


/* responsif */
@media (max-width: 600px) {
    .login-container {
        align-items: flex-start;
        padding-top: 50px; 
    }

    .login-form {
        max-width: 90%; 
        width: 90%; 
        padding: 30px 25px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        margin: auto; 
    }

    .login-form h2 {
        font-size: 1.6em;
    }

    .login-form input,
    .login-form button[type="submit"] {
        padding: 12px; 
        font-size: 0.95em;
    }
}